body {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif; }

html {
  background: url(../images/spiritual1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.tophead {
  text-align: center;
  float: none;
  color: #ededed; }

nav {
  height: 80px;
  background-color: #fff;
  margin: -9px;
  padding: 0;
  opacity: 0.7; }
  nav a {
    text-decoration: none;
    padding: 10px 10px; }
  nav ul {
    float: left;
    list-style: none;
    margin: 0 0 0 15px; }
    nav ul li {
      float: left;
      display: inline; }
      nav ul li a {
        text-decoration: none;
        color: #4c4c4c;
        font-weight: bold;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
    nav ul a:hover {
      text-decoration: none;
      background-color: #668432;
      color: #fff;
      border-radius: 10%; }

.column {
  position: relative;
  float: left;
  border: 2px solid #002600;
  background-color: #f5f5dc;
  margin: -90px 5px 0 20px;
  width: 416px;
  text-align: left;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000; }
  .column h3 {
    text-align: center; }
  .column li {
    padding-top: 0 !important; }
  .column .new-task {
    margin-left: 8px;
    width: 300px; }

.column header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background-color: #006600;
  border-bottom: 1px solid #ddd;
  text-align: center; }

/* Basic Style */
.container {
  display: inline-block;
  width: 400px;
  margin: 100px auto 0;
  float: left;
  padding: 25px; }

ul {
  margin: 0;
  padding: 0; }

li * {
  float: left; }

li, h3 {
  list-style: none; }

input, button {
  outline: none; }

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 7px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer; }

button.edit {
  padding-left: 22px; }

button:hover {
  color: #333; }

/* Heading */
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center; }

input[type="text"] {
  margin-left: 8px;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888; }

input[type="text"]:focus {
  color: #333; }

/* New Task */
label[for='new-task'] {
  display: block;
  margin: -30px 0 20px; }

input#new-task {
  float: left;
  width: 318px; }

p > button:hover {
  color: #0FC57C; }

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee; }

li > input[type="checkbox"] {
  display: none; }

li > label {
  font-size: 18px;
  line-height: 20px;
  width: 280px;
  padding: 0 0 0 11px; }

li > input[type="text"] {
  width: 226px; }

li > .delete:hover {
  color: #CF2323; }

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888; }

/* Edit Task */
ul li input[type=text] {
  display: none; }

ul li.editMode input[type=text] {
  display: block;
  width: 260px; }

ul li.editMode label {
  display: none; }

ul #incomplete-tasks {
  margin-top: -25px; }

@media screen and (max-width: 500px) {
  input#new-task {
    max-width: 206px; }

  ul li.editMode {
    max-width: 230px; }

  .column {
    max-width: 75%; } }

/*# sourceMappingURL=master.css.map */
